In [22]:
import pandas as pd

In [23]:
df = pd.read_csv ('../Data/video_games_sales.csv').dropna() 
#dropping the na values at the import stage itself
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E

In [24]:
df = df[['Name','Global_Sales','Platform']]

In [25]:
df = df.rename(columns={'Name': 'id', 'Platform': 'parent','Global_Sales':'value'})

In [26]:
result = df.groupby('parent').apply(lambda x: x.nlargest(6, 'value')).reset_index(drop=True)

In [27]:
result

                                 id  value parent
0                      Mario Kart 7  12.66    3DS
1               Super Mario 3D Land  10.81    3DS
2           New Super Mario Bros. 2   9.90    3DS
3         Animal Crossing: New Leaf   9.16    3DS
4        Luigi's Mansion: Dark Moon   4.59    3DS
..                              ...    ...    ...
97   Call of Duty: Advanced Warfare   5.27   XOne
98                Halo 5: Guardians   4.48   XOne
99                        Fallout 4   4.22   XOne
100         Assassin's Creed: Unity   3.50   XOne
101                         Destiny   3.37   XOne

[102 rows x 3 columns]

In [28]:
result.to_csv('../Data/Sunburst.csv', index=False)

In [29]:
# df2 = df.groupby('Platform')['Global_Sales'].sum().reset_index()
# df2['Parent'] = ''
# df2 = df2.rename(columns={'Platform': 'Name', 'Parent': 'Platform'})

In [30]:
# df

In [31]:
# df_combined = pd.concat([df2, df], ignore_index=True)

In [32]:
# df_combined

In [33]:


# Export df2 to a CSV file
# df_combined.to_csv('../Data/Sunburst.csv', index=False)